PORT=3001
NODE_ENV=development

# Clerk Configuration
CLERK_SECRET_KEY=your_clerk_secret_key
BASE_URL=http://localhost:3001

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/mosaic-project

# Client Configuration
CLIENT_URL=http://localhost:5173
